<div class="container-fluid w-75 p-3">
  <h6 class="mb-0 text-uppercase">Crear nueva usuario</h6>
  <hr />
  <div class="card">
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label class="form-label">Código usuario</label>
          <input
            type="text"
            min="1"
            class="form-control"
            id="cod_usuario"
            required
            [(ngModel)]="usuario.cod_usuario"
            name="cod_usuario"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Código rol</label>
          <input
            type="text"
            min="1"
            class="form-control"
            id="cod_rol"
            required
            [(ngModel)]="usuario.cod_rol"
            name="cod_rol"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Nombre </label>
          <input
            type="text"
            class="form-control"
            id="nombre_usuario"
            required
            [(ngModel)]="usuario.nombre_usuario"
            name="nombre_usuario"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Dirección correo </label>
          <input
            type="text"
            class="form-control"
            id="correo_usuario"
            required
            [(ngModel)]="usuario.correo_usuario"
            name="correo_usuario"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña </label>
          <input
            type="password"
            class="form-control"
            id="clave_usuario"
            required
            [(ngModel)]="usuario.clave_usuario"
            name="clave_usuario"
          />
        </div>

        <div class="col-12">
          <button (click)="saveUsuario()" class="btn btn-outline-success px-5">
            Crear
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
